{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Gestion des catégories
{% endblock %}

{% block body %}

    <h1 class=""> 
        BACKOFFICE | Gestion des catégories 
        <small><a href="{{ path('admin_new_category') }}" class="btn btn-secondary">Nouvelle catégorie</a></small>

    </h1>


    {#     danger  msg     #}
    {#     success  msg     #}
    {% for label, messages in app.flashes(['danger','success']) %}

        {# 1 msg / tr in all msg #}
        {% for oneMessage in messages %}

            <div class="col-md-3 bg-{{ label }} p-4 rounded mx-auto text-center text-white mb-3">

                {{ oneMessage}}

            {# message est une variable de reception qui contient 1 message utilisateur par tour de boucle #}
            </div>

        {% endfor %}
    {% endfor %}

    <table class="table table-bordered text-center">
        <tr>
            {% for oneColonne in colonnes %}

                {% if oneColonne == 'title' %}

                    <th>TITRE</th>

                {% else %}
                    <th>{{ oneColonne|upper }}</th>
                {% endif %}

            {% endfor %}

                <th>NB ARTICLE</th>
        </tr>

        {% for oneCategory in categoryBdd %}

            <tr>
                <td>{{ oneCategory.id }}</td>
                <td>{{ oneCategory.title }}</td>
                <td>{{ oneCategory.description }}</td>
                <td>{{ oneCategory.articles|length }}</td>

                <td><a href="{{ path('admin_edit_category', {'id': oneCategory.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i></a></td>

                <td><a href="{{ path('admin_remove_category', {'id':oneCategory.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous vraiment supprimer cet article?'))"><i class="fas fa-trash-alt" ></i></a></td>
            </tr>

        {% endfor %}
    </table>


{% endblock %}