{% extends "base.html.twig" %}

{% block title %}
    Création d'un nouvel article
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">
    {# Si la variable editMode renvoie TRUE, cela veut dire que l'id de l'article est définit, c'est une modification #}
    {% if editMode %}
        Modification de l'article
    {% else %}
        {# Sinon, l'id n'est pas définit, c'est une insertion #}
        Création d'un nouvel article
    {% endif %}

    </h1>

    {# <form method="post" class="">
        <div class="form-group">
            <label for="title" class="form-label">Titre</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>

        <div class="form-group">
            <label for="content">Contenu de l'article</label>
            <textarea class="form-control" id="content" name="content" rows="15"></textarea>
        </div>

        <div class="form-group">
            <label for="image" for="exampleCheck1">Check me out</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>

        <button type="submit" class="btn btn-primary">Enregister l'article</button>
    </form> #}

    {# {{ form(formArticle) }} #}
    {# fomr_start() : fonction Twig, on ouvre la balise <form> #}
    {{ form_start(formArticle, {'attr': {'class': 'col-md-5 mx-auto'} }) }}

        {{ form_row(formArticle.title, {
            'attr': {'placeholder': "Titre de l'article", "maxlength": false, "pattern": false},
            "label": "Titre de l'article"}) }}

        {{ form_row(formArticle.category, {'label': "Choisir une catégorie"}) }}
        
        {{ form_row(formArticle.content, {
            'attr': {'placeholder': "Contenu de l'article", 'rows' : 15
            },
            'label': "Contenu de l'article"
            }) 
        }}
        {{ form_row(formArticle.image, {
            'attr': {'placeholder': "Saisir une URL pour l'image", 'rows' : 15
            },
            'label': "URL de l'image"
            }) 
        }}

        <button type="submit" class="btn btn-secondary">
        {% if editMode %}
            Enregister les modifications
        {% else %}
            Enregistrer l'article

        {% endif %}
        </button>

    {{ form_end(formArticle) }}
    {# form_end() : fonction Twig, on ferma la balise <form> #}
{% endblock %}